{% extends "core/base.html" %}

{% block titulo %}
Galeria - Floreria
{% endblock titulo %}

{% load static %}
{% block contenido %}

<div class="container">
    <div class="jumbotron" style="background-color: rgb(248, 227, 227);">
        <h3><em>Floreria Petalos</em></h3>
        <p><em>Regala cariño, con Florería Pétalos</em></p>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox no-margin">

                {% for f in listaFlores %}
                <figure class="figure">
                    <a class="black-text" href="{{ f.imagen.url }}" data-size="1600x1067">
                        <img alt="picture" src="{{ f.imagen.url }}" width="367" height="250" class="rounded-lg" />
                        <h3 class="text-center my-3">{{f.name}}</h3>
                    </a>
                    {% if f.estado == "D" %}

                    <div class="alert alert-success" role="alert">
                        Producto Disponible
                    </div>

                    {% endif %}

                    {% if f.estado == "N" %}

                    <div class="alert alert-danger" role="alert">
                        Producto no Disponible
                    </div>

                    {% endif %}
                </figure>
                {% endfor %}

            </div>

        </div>
    </div>
</div>


{% endblock contenido %}