    {% extends "core/base.html" %}

    {% block titulo %}
        Main Principal - Floreria
    {% endblock titulo %}

    {% load static %}    

    {% block contenido %}
        <div class="container" style="background-color: #c1b4f0;">
            <div class="jumbotron" style="background-color: #c1b4f0;">
                    <h3>Flores Floreria</h3>
                    <p>Regala cariño con flores</p>
            </div>
            
        </div>
        <img src="{% static 'core/img/Rosas.jpg' %}" class="img-fluid" alt="Responsive image">
    {% endblock contenido %}
       
