{% extends "core/base.html" %}

{% block titulo %}
Login de Acceso
{% endblock titulo %}

{% block contenido %}


<div class="container">
    <h1>Login Administrador</h1>
    
    <form name="formulario" class="needs-validation" id="formulario" action="{% url 'login_inicio' %}" method="POST"
        enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">Nombre Usuario</label>
                <input type="text" class="form-control" id="txtUsuario" name="txtUsuario" placeholder="Usuario"
                    required>
                <div class="invalid-feedback">
                    Por favor ingrese un nombre de usuario valido.
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Contraseña</label>
                <input type="password" class="form-control" id="txtPassword" name="txtPassword" placeholder="Contraseña"
                    required>
                <div class="invalid-feedback">
                    Por favor ingrese una contraseña valida.
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Iniciar Sesion</button>
        <hr>
    </form>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
    
</div>
{% endblock contenido %}