{% extends "core/base.html" %}

{% block titulo %}
Login de Acceso
{% endblock titulo %}

{% block contenido %}


<div class="container">
    <h1>Login de Acceso</h1>
    
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Tipo de Usuario
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'login_admin' %}">Administrador</a>
            <a class="dropdown-item" href="{% url 'login_usuario' %}">Usuario</a>
        </div>
    </div>

    
</div>
{% endblock contenido %}